body
{
background-image:url("image/background.jpeg");
background-position:center;
background-repeat:none;
background-size:cover;
background-attachment:fixed;
font-family:"Century Gothic";
font-size:14px;
overflow:auto;
}

header
{
color:white;
font-size:24px;
position:relative;
margin-left:45px;
}

small
{
font-size:18px;
}

aside
{
display:none;
}

a
{
color:white;
}

a:hover
{
color:blue;
}

a:active
{
color:red;
}

section
{
border:1px solid black;
border-radius:10px;
display:block;
position:absolute;
width:90%;
height:730px;
background-color:grey;
position:relative;
left:5%;
bottom:1px;
opacity:0.9;
}

#nav
{
width:auto;
}

.onglet
{
width:100px;
display:inline-block;
}


article
{
border:2px solid black;
border-radius:8px;
width:96%;
height:650px;
margin-left:1.5%;
background-color:#FAF0E6;
color:black;
}
