body
{
background-image:url("image/background.jpeg");
background-position:center;
background-repeat:none;
background-size:cover;
background-attachment:fixed;
font-family:"Century Gothic";
font-size:18px;
overflow:auto;
}

header
{
color:white;
font-size:36px;
position:relative;
margin-left:45px;
}

small
{
font-size:24px;
}

aside
{
color:white;
border:1px solid black;
border-radius:10px;
background-color:grey;
width:300px;
height:450px;
opacity:0.8;
}

#photo
{
height:90px;
float:left;
left:20px;
top:150px;
}

a
{
color:white;
}

a:hover
{
color:blue;
}

a:active
{
color:red;
}

section
{
border:1px solid black;
border-radius:10px;
width:950px;
height:550px;
background-color:grey;
position:relative;
left:350px;
bottom:450px;
opacity:0.9;
}

#nav
{
width:auto;
text-align:center;
border:1px double black;
border-radius:8px;
}

.onglet
{
width:158px;
}

article
{
border:2px solid black;
border-radius:8px;
width:930px;
height:500px;
margin-bottom:5px;
margin-left:10px;
margin-right:10px;
margin-top:5px;
padding-left:5px;
background-color:#FAF0E6;
color:black;
}

h3
{
font-weight:normal;
}

#mail
{
color:blue;
}

#mail:active
{
color:red;
}
